.greetingForm {
    background-color: #c9ecd9;
}

.inputAndButtonContainer {
    display: flex;
    column-gap: 12px;
    height: 36px;
}

.error {
    color: #cc0000;
}

.input {
    height: 100%;
    width: 371px;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
}

.input:focus {

}

.errorInput {
    border: 1px solid #f30606;
}

.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;

    background: #06c;
    opacity: 0.5;

    color: #fff;
    cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    background-color: #cc0000;
}

.text {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
}
