
.header {
    background-color: #4680b9;
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
    margin-bottom: 50px;
}

.burgerMenuIcon {
    cursor: pointer;
    height: 50px;

    transition: all .1s ease;
}

.burgerMenuIcon:active {
    transform: scale(1.2);
}

.header h1 {
    flex-grow: 1;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
}

