.button {
    width: 80px;
    color: white;
}

.disabled {
    opacity: .3;

}

.secondary {
    background-color: green;
}

.default {
    background-color: blue;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
